/***** FULL PAGE *****/
/*********************/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/***** BODY *****/
/****************/

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  background-color: whitesmoke;
}

.container {
  display: flex;
  align-items: center;
  margin: auto;
  flex-direction: column;
  width: 80%;
  padding-top: 2rem;
}

/***** HEADER *****/

header {
  display: flex;
  justify-content: center;
  background: rgb(100, 193, 100);
  height: 100%;
}

/***** REQUEST *****/

.request-header {
  font-weight: normal;
  text-align: center;
}

.request-form {
  width: 100%;
  text-align: center;
}

.request-field {
  width: 80%;
  padding: 0.8rem;
  font-size: 1.25rem;
  text-align: center;
  text-transform: uppercase;
  margin: auto;
}

small {
  display: block;
  margin-top: 0.6rem;
  color: rgb(162, 161, 161);
  font-size: 0.8rem;
}

.btn {
  display: inline-block;
  margin-top: 1.5rem;
  background: rgb(100, 193, 100);
  padding: 0.4rem 1.3rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.btn:hover {
  background: rgb(126, 210, 126);
  border: 1px solid black;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .request-field {
    width: 50%;
  }
}
