/***** FULL PAGE *****/
/*********************/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/***** BODY *****/
/****************/

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  background-color: whitesmoke;
}

.container {
  display: flex;
  align-items: center;
  margin: auto;
  flex-direction: column;
  width: 80%;
  padding-top: 2rem;
}

/***** HEADER *****/

header {
  display: flex;
  justify-content: center;
  background: rgb(100, 193, 100);
  height: 100%;
}

/***** FORM *****/

.form-header {
  font-weight: normal;
  text-align: center;
}

.form-form {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

.form-field {
  width: 80%;
  padding: 0.8rem;
  font-size: 1.25rem;
  text-align: center;
  text-transform: uppercase;
  margin: auto;
}

small {
  display: block;
  margin-top: 0.6rem;
  color: rgb(162, 161, 161);
  font-size: 0.8rem;
}

.btn {
  display: inline-block;
  margin-top: 1.5rem;
  background: rgb(100, 193, 100);
  padding: 0.4rem 1.3rem;
  border: 1px solid black;
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.btn:hover {
  background: rgb(126, 210, 126);
}

/***** SECTION *****/

section {
  margin-bottom: 2rem;
}

.section-title,
.section-intro {
  text-align: center;
}

/***** TWEETS *****/

.tweet-container {
  padding: 1.5rem 1rem;
  margin: auto;
  width: 60%;
  border-top: 1px solid black;
  word-wrap: break-word;
}

.tweet-name {
  margin: 0;
  color: rgb(41, 123, 41);
  display: inline-block;
}

.tweet-username {
  margin: 0 0 0 0.4rem;
  color: grey;
  font-size: 0.68rem;
  display: inline-block;
}

.tweet-body {
  margin: 0.25rem 0;
  font-size: 0.85rem;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .tweet-container {
    width: 67.5%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .form-field {
    width: 50%;
  }

  .tweet-container {
    width: 75%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .tweet-container {
    width: 80%;
  }
}
